.sidebar {
    width: 15vw;
    min-height: 100vh;

    padding: 0.5rem;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.linkList {
    flex: 1;

    width: 100%;

    display: flex;
    flex-direction: column;
}

.linkItem {
    width: 100%;

    display: flex;
}

.link {
    width: 100%;

    padding: 1rem;

    border-radius: 1rem;
}

.link:hover {
    background-color: lightgray;
}

.copyright {
    font-size: 0.75rem;
}
