.page {
    min-width: 100vw;
    min-height: 100vh;

    display: flex;

    color: var(--layout-color);
    background-color: var(--layout-background);
}

.content {
    flex: 1;

    min-height: 100vh;

    padding: 0.5rem;

    display: flex;
}
