/* Import Inter Font */
@font-face {
    font-family: 'Inter';
    src: url('/fonts/Inter/Inter-Regular.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    src: url('/fonts/Inter/Inter-Bold.ttf') format('truetype');
    font-style: normal;
    font-weight: bold;
    font-display: swap;
}

/* Import Source Code Pro Font */
@font-face {
    font-family: 'Source Code Pro';
    src: url('/fonts/SourceCodePro/SourceCodePro-Regular.ttf')
        format('truetype');
    font-style: normal;
    font-weight: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Source Code Pro';
    src: url('/fonts/SourceCodePro/SourceCodePro-Italic.ttf') format('truetype');
    font-style: italic;
    font-weight: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Source Code Pro';
    src: url('/fonts/SourceCodePro/SourceCodePro-Bold.ttf') format('truetype');
    font-style: normal;
    font-weight: bold;
    font-display: swap;
}

@font-face {
    font-family: 'Source Code Pro';
    src: url('/fonts/SourceCodePro/SourceCodePro-BoldItalic.ttf')
        format('truetype');
    font-style: italic;
    font-weight: bold;
    font-display: swap;
}

:root {
    --color: black;
    --highlight: white;
    --background: lightgray;

    --panel-color: black;
    --panel-highlight: lightgray;
    --panel-background: white;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

html {
    height: 100%;

    font-family: 'Inter', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    text-rendering: optimizeSpeed;
    -webkit-font-smoothing: antialiased;
}

html:focus-within {
    scroll-behavior: smooth;
}

body {
    min-height: 100vh;
    height: 100%;

    color: var(--color);
    background-color: var(--background);
}

img,
picture,
video,
canvas,
svg {
    max-width: 100%;

    display: block;
}

input,
button,
textarea,
select {
    font: inherit;
}

ul,
ol {
    list-style: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

a {
    text-decoration: none;

    color: black;
}

#__next {
    height: 100%;

    isolation: isolate;
}

@media (prefers-reduced-motion: reduce) {
    html:focus-within {
        scroll-behavior: auto;
    }

    *,
    *::before,
    *::after {
        scroll-behavior: auto !important;

        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;

        transition-duration: 0.01ms !important;
    }
}
