.ingredient {
    padding: 1rem;

    display: flex;
    flex-direction: column;
    gap: 1rem;

    border-radius: 1rem;

    background-color: lightgray;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

.deleteButton {
    padding: 0.5rem;

    cursor: pointer;

    border: solid 0.2rem red;
    border-radius: 0.5rem;

    background-color: lightgray;
}

.deleteButton:hover {
    background-color: red;
}

.snippet {
    border-radius: 0.5rem;
}
